.mat-elevation-z8 {
    width: 100%;
  }
  
  .mat-elevation-z8 table {
    width: 100%;
    
  }


  .search-add-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
  
  .search-add-container mat-form-field {
    margin-right: 10px; /* Adjust spacing between form field and button */
  }


  
  th.mat-sort-header-sorted {
    color: black;
  }