.mat-elevation-z8 {
    width: 100%;
  }
  
  .mat-elevation-z8 table {
    width: 100%;
  }


  .search-add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
  
  .search-add-container mat-form-field {
    flex: 1;
    margin-right: 10px; /* Adjust spacing as needed */
  }